/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/css
/web/bundles/js/js/bootstrap.js
/web/bundles/js/js/bootstrap.min.js
/web/bundles/js/jquery-1.11.3.min.js
